<h2>IPAM</h2>
<%= navigation %>
<div class="subnavigation">
<div class="nav_button"><%# "create new ip", :action => "new" %></div>
</div>
<div class="options">
  <div class="opt_element"><%= search %></div>
<div class="opt_element"><%# discovernet %></div>
<hr>
</div>