<% form_tag '/ipaddresses/', :method => 'get' do %>
  <p>show only:
  <%# select_tag :iptype, "<option>all</option><option>free</option><option>reserved</option>" %>
  <%# select_tag :iptype, options_from_collection_for_select(@all_ips, "iptype", :iptype) %>
  <%= select_tag :iptype, options_from_collection_for_select(@all_iptypes, "iptype", :iptype) %>
  <%= submit_tag "go", :iptype => nil %>
  </p>
<% end %>


