<div class="navigation">
  <div class="nav_button"><#= link_to "ip addresses", :action => "index" %></div>
  <div class="nav_button"><#= link_to "subnets", :action => "listsub" %></div>
  <div class="nav_end"></div>
</div>

