<div class="navigation">
  <div class="nav_button"><a href="/ip">IP Addresses</a></div>
  <div class="nav_button"><a href="/subnet">Networks</a></div>
  <div class="nav_button"><a href="/location">Locations</a></div>
  <div class="nav_end"></div>
</div>

