<div class="row">
  <form action="/search" method="GET" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="IP address, hostname, network, location" id="search" type="text">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">search
        <i class="material-icons right">search</i>
        </button>
      </div>
  </form>
</div>
